{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "rules": {
    "no-console": "off"
  }
}